/*переменные*/
$font-stack: Helvetica, sans-serif;
$primary-color: rgb(255, 255, 255);


body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #1e1e1e;
  font-size: 45px;

  .Container {

    margin: 0 auto;
    max-width: 1280px;

  }
}